*.asdb
*.asdbw
bd/
ip_repo/daphne3_ip/ips/cm/*
ip_repo/daphne3_ip/ips/i2c/*
ip_repo/daphne3_ip/src/dune.daq_user_hermes_daphne_1.1/src/axi4_lite_bram_ctrl_0/
ip_repo/daphne3_ip/src/dune.daq_user_hermes_daphne_1.1/src/xxv_ethernet_0/
ip_repo/daphne3_ip/xgui/
ip_repo/daphne3_ip/*.xml
xilinx/.cache
xilinx/.Xil/
xilinx/output/
xilinx/*.jou
xilinx/*.log
xilinx/*.txt
xilinx/*.mif
xilinx/*.str
build/
dist/
.venv/
__pycache__/
.cache/
.fusesoc/
